/* Import a pixel retro font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset default margin and padding */
body, h2, div, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set the font family and background color */
body {
    font-family: "Press Start 2P", cursive;
    /* background-color: #161625; /* Dark background */
    background-image: url("../icons/retro-gaming.jpg");
    background-size: cover; /* Adjusts the background image size to cover the entire body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 50px;
}

/* Container for the popup content */
.container {
    width: 200px;
    padding: 20px;
    /*background-color: #292943; /* Dark purple background */
    background-color: rgba(41, 41, 67, 0.3);
    border-radius: 20px;
    /*border: 20px solid rgba(32, 32, 58, 0.25); /* Slightly darker border */
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Slightly more pronounced shadow */
    text-align: center;
}

/* Header styling */
h2 {
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #ffffff; /* White text */
}

/* Add this style to create the toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 100%; /* Set the width of the toggle */
    height: 34px;
    margin: 0 auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8e44ad;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #fff;
    font-size: 1em;
    box-sizing: border-box;
}

input:checked + .slider {
    background-color: #8e44ad;
}

.slider-labels {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.label-voice {
    transition: opacity 0.4s;
}

.label-eyes {
    transition: opacity 0.4s;
}

input:checked + .slider .label-eyes {
    opacity: 0.5;
}

input:not(:checked) + .slider .label-voice {
    opacity: 0.5;
}

/* Style for the "eyes" and "voice" labels */
#input-container-eyes, #input-container-voice {
    margin-top: 20px;
    font-size: 12px;
    color: #ffffff; /* White text */
}

#input-container-eyes div, #input-container-voice div {
    margin-bottom: 10px;
}

/* Input field styling */
#input-container-eyes input[type="text"], #input-container-voice input[type="text"] {
    width: calc(100% - 22px); /* Adjust for input padding */
    padding: 12px;
    margin-top: 5px; /* Add margin to space input field below label */
    border: 1px solid #5f5f7f; /* Lighter purple border */
    border-radius: 5px;
    background-color: #3d3d58; /* Darker purple background */
    color: #ffffff; /* White text */
}

/* Button styling */
#save-button {
    font-family: "Press Start 2P", cursive;
    display: block;
    width: 100px; /* Same width as the toggle switch */
    padding: 15px;
    margin-left: auto; /* Set left margin to auto to push the button to the right */
    border: none;
    border-radius: 50px; /* Fully round corners */
    cursor: pointer;
    font-size: 0.8em; /* Adjust font size for better fit */
    transition: background-color 0.3s;
    color: #ffffff; /* White text */
    background-color: #8e44ad; /* Purple background */
}

.icon-buttons {
    font-family: "Pixelify Sans", sans-serif;
    display: inline-block;
    justify-content: space-between;
    margin-right: -10px;
    cursor: pointer;
    transition: background-color 0.3s;
    /*border-radius: 0px; /*Ecke abrunden */
    font-size: 1em; /* Schriftgröße anpassen */
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(32, 32, 58, -1.0);
    border: none;
}

#icons-sidebar {
    font-family: "Pixelify Sans", sans-serif;
    width: 100px;
}
/* Button hover effect */
button:hover {
    filter: brightness(1.1); /* Hover effect to make the button slightly brighter */
}

/* Hidden class for the labels */
.hidden {
    display: none;
}