/* Import a pixel retro font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset default margin and padding */
body, h2, div, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set the font family and background color */
body {
    font-family: "Press Start 2P", cursive;
    width: fit-content;
    background-image: url("../icons/retro-gaming.jpg");
    background-size: cover; /* Adjusts the background image size to cover the entire body */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.main-container-popup{
    transition: 0.3s ease-in-out;
    width: 270px;
    height: 450px;
    display: flex;
    align-items: center;
}

.text-help-page{
    line-height: 1.4;
    color: white;
    font-size: 10px;
    margin-top: 30px;
}

/* Container for the popup content */
#container {
    width: 220px;
    padding: 20px;
    align-items: center;
    /*background-color: #292943; /* Dark purple background */
    background-color: rgba(41, 41, 67, 0.3);
    border-radius: 20px;
    /*border: 20px solid rgba(32, 32, 58, 0.25); /* Slightly darker border */
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Slightly more pronounced shadow */
    text-align: center;
}

.main-container-popup.expanded{
    width: 400px;
    height: 500px;
}

.header-help-page{
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

#help-page-container {
    background-color: rgba(12, 2, 68, 0.719);
    text-align: center;
    top: -50px;
    border-radius: 20px;
    height: 330px;
    padding: 10px;
    margin-right: 10px;
}

@keyframes slide{
    0% {scale: 0}
    100% {scale: 1;}
}

/* Header styling */
h2 {
    font-size: 1.4em;
    margin-bottom: 20px;
    color: #ffffff; /* White text */
}

/* Add this style to create the toggle switch */
.switch {
    position: relative;
    display: inline-block;
    width: 100%; /* Set the width of the toggle */
    height: 34px;
    margin: 0 auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8e44ad;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    text-shadow: 0 0 40px #ffffff;
    font-size: 1em;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
input:checked + .slider {
    background-color: #8e44ad;
}

.slider-labels {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.dropdown-divs{
    display: flex;
}

.dropdown-select{
    height: 25px;
    width: 180px;
    font-size: 14px;
    background-color: #5b48a196;
    border-radius: 50px;
    color: white;  
}

.dropdown-select-voice{
    height: 25px;
    width: 110px;
    font-size: 12px;
    background-color: #5b48a196;
    border-radius: 50px;
    margin-top: 8px; 
    color: white; 
}

.dropdown-options{
    text-align: center;
    background-color: #5b48a194;
    color: white;
}

.voice-containers{
    margin-top: 20px;
}

.eyes-containers{
    margin-top: 15px;
}

.dropdown-options:hover{
    background-color: yellow;
}

option:hover {
    background-color: yellow;
}

.label-voice {
    transition: opacity 0.4s;
}

.label-eyes {
    transition: opacity 0.4s;
}

input:checked + .slider .label-eyes {
    opacity: 0.5;
}

input:not(:checked) + .slider .label-voice {
    opacity: 0.5;
}

#input-container-voice{
    
}

/* Style for the "eyes" and "voice" labels */
#input-container-eyes, #input-container-voice {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(243, 89, 6);
    height: 270px;
}

#input-container-eyes div, #input-container-voice div {
    margin-bottom: 10px;
}

/* Input field styling */
#input-container-voice input[type="text"] {
    width: 100px; /* Adjust for input padding */
    height: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 8px; /* Add margin to space input field below label */
    border: 1px solid #5f5f7f; /* Lighter purple border */
    border-radius: 5px;
    background-color: rgba(61, 61, 88, 0.5); /* Darker purple background */
    color: #ffffff; /* White text */
}

/* Placeholder styling */
#input-container-eyes input[type="text"]::placeholder, #input-container-voice input[type="text"]::placeholder {
    color: #cccccc; /* Light grey placeholder text */
    opacity: 1;
}

/* Button styling */
#save-button {
    font-family: "Press Start 2P", cursive;
    display: block;
    width: 100px; /* Same width as the toggle switch */
    padding: 15px;
    margin-left: auto; /* Set left margin to auto to push the button to the right */
    margin-top: 8px;
    border: none;
    border-radius: 50px; /* Fully round corners */
    cursor: pointer;
    font-size: 0.8em; /* Adjust font size for better fit */
    transition: background-color 0.3s;
    color: #ffffff; /* White text */
    background-color: #8e44ad; /* Purple background */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.icon-buttons {
    font-family: "Pixelify Sans", sans-serif;
    display: inline-block;
    justify-content: space-between;
    margin-right: -10px;
    cursor: pointer;
    transition: background-color 0.3s;
    /*border-radius: 0px; /*Ecke abrunden */
    font-size: 1em; /* Schriftgröße anpassen */
    background-color: rgba(32, 32, 58, -1.0);
    border: none;
}

.icon-buttons img {
    width: 55px;  /* Set the width you want for your icons */
    height: 55px; /* Set the height you want for your icons */
    max-width: 100%; /* Ensure images are responsive */
    max-height: 100%; /* Ensure images are responsive */
    opacity: 1.1;
}

.keyword-keybind-divs{
    display: flex;
    gap: 5px;
    margin-left: auto;
}

#icons-sidebar {
    width: 70px;
}
/* Button hover effect */
button:hover {
    filter: brightness(1.5); /* Hover effect to make the button slightly brighter */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

/* Hidden class for the labels */
.hidden {
    display: none;
}
